<!DOCTYPE html>
<html>
<head>
  <title>EatFriends</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <h4 class="navbar-brand">Eat With Friends</h4>
			</div>

      <% if logged_in? %>
        <div class="dropdown pull-right navbar-form">
          <button class="btn btn-primary dropdown-toggle user-drop-down"   type="button" data-toggle="dropdown">
            <%= current_user.username %>
            <span class="caret"></span>
          </button>
          <ul class="nav navbar-nav navbar-right dropdown-menu">
            <li><%= link_to "Sign Out", session_url,
                     :method => :delete%></li>
          </ul>
        </div>
      <% else %>
        <div>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Sign In", new_session_url %></li>
            <li><%= link_to "Sign up", new_user_url %></li>
          </ul>
        </div>
      <% end %>
      </div>
  </nav>
	
	<% if logged_in? %>
		<ul class="nav nav-tabs">
		  <li class="active"><a href="#">Home</a></li>
		  <li><a href="#">Food</a></li>
		  <li><a href="#">Exercise</a></li>
			<li><a href="#">Reports</a></li>
		</ul>
	<% end%>
	
	
<%= render 'shared/errors' %>

<%= yield %>
</body>
</html>