<!DOCTYPE html>
<html>
<head>
  <title>EatFriends</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'shared/errors' %>

<%= yield %>

<% if logged_in? %>
	<p><%= current_user.username %> is signed in.</p><br>
	<%= button_to "Sign Out", session_url, method: :delete %><br>
<% else %>
	<%= link_to "Sign In", new_session_url %><br>
	<%= link_to "Sign Up", new_user_url %>
<% end %>
</body>
</html>